*,
*::after,
*::before {
    box-sizing: border-box;
}
blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
}
html{
    font-size:10px;
    @media (max-width:1440px) {
        font-size:9px;
    } 
    @media (max-width:1296px) {
        font-size:8px;
    } 
    @media (max-width:1024px) {
        font-size:7px;
    } 
    @media (max-width:768px) {
        font-size:10px;
    } 

   
   
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    height: 100%;
    font-size: 1.8rem;
    line-height: 170%;
    color: #2B2A30;
}
.container{
    max-width:144rem;
    padding-left:12rem;
    padding-right:12rem;
    margin:0 auto;
    @media (max-width:768px) {
        width:100%;
        padding-left:2rem;
        padding-right:2rem;
    }
    // @media (max-width:1440px) {
    //     max-width:120rem;
    //     padding-left:6rem;
    //     padding-right:6rem;
    // } 
}

.adaptive_video {
    position:relative;
    padding-bottom:56.25%;
    iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}


ol,
ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}
@mixin tr{
    transition: all .25s ease;
}
@mixin ulClean{
    list-style:none;
    padding:0;
    margin:0;
}
@mixin flexcc{
    display:flex;
    justify-content: center;
    align-items:center;
}
:active, :focus {
    outline: none !important;
}
::-moz-focus-inner {
    border: 0 !important;
}