section.text-page
	.container
		h1 Popups 
		ul 
			li
				a(href="" data-src="#callback-popup" data-fancybox) Закажи обратный звонок
			li
				a(href="" data-src="#thanks-popup" data-fancybox) Спасибо-блок после отправки (скрытый в формах блок)
			li
				a(href="" data-src="#thanks-popup2" data-fancybox) Спасибо-блок после отправки (скрытый в формах блок) 2
			li 
				a(href="" data-src="#leave-popup" data-fancybox) Оставь заявку и стань частью команды «Четыре Лапы»
			li 
				a(href="" data-src="#agree-popup" data-fancybox) Согласие на обработку персональных данных