section.slider.owl-carousel
	- for (var i = 0; i < 4; i++) {
	.slider__slide(style="background-image:url(img/shutterstock_1806679306-team21.jpg)")
		.container
			.slider__desc
				.slider__name Делай карьеру с «Четыре Лапы»!
				.slider__text Запишись на собеседование и получи интересную работу рядом с домом.
				a.button.button_white(href="") Записаться
	- }
section.main-vacancies
	.container 
		h2.h2-title Вакансии
		.tabs
			ul
				li Магазины
				li Ветеринарные центры
				li Распределительный центр
				li Курьерская доставка
				li Груминг-салоны
				li Офис
				li Кабинеты здоровья
			div 
				div
					.main-vacancies__count Найдено 20 вакансий
					.main-vacancies__slider.owl-carousel
						- for (var i = 0; i < 3; i++) {
						.main-vacancies__items
							a.main-vacancies__item(href="")
								.main-vacancies__name Программист 1С
								.main-vacancies__city г. Жуковский
								<svg width="22" height="40" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3456 18.9023L2.84444 0.452333C2.23827 -0.151805 1.25687 -0.150789 0.651714 0.455458C0.0470289 1.06163 0.0485914 2.04358 0.654839 2.64818L18.0548 20.0001L0.654214 37.3519C0.0480443 37.9566 0.0464818 38.9379 0.651089 39.5441C0.954447 39.848 1.35187 40 1.74929 40C2.14569 40 2.54155 39.849 2.84436 39.5472L21.3456 21.0977C21.6376 20.8072 21.8014 20.4119 21.8014 20.0001C21.8014 19.5882 21.6371 19.1933 21.3456 18.9023Z" fill="#19191D"/></svg>

							a.main-vacancies__item(href="")
								.main-vacancies__name Категорийный менеджер
								.main-vacancies__city г. Жуковский
								<svg width="22" height="40" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3456 18.9023L2.84444 0.452333C2.23827 -0.151805 1.25687 -0.150789 0.651714 0.455458C0.0470289 1.06163 0.0485914 2.04358 0.654839 2.64818L18.0548 20.0001L0.654214 37.3519C0.0480443 37.9566 0.0464818 38.9379 0.651089 39.5441C0.954447 39.848 1.35187 40 1.74929 40C2.14569 40 2.54155 39.849 2.84436 39.5472L21.3456 21.0977C21.6376 20.8072 21.8014 20.4119 21.8014 20.0001C21.8014 19.5882 21.6371 19.1933 21.3456 18.9023Z" fill="#19191D"/></svg>
						.main-vacancies__items
							a.main-vacancies__item(href="")
								.main-vacancies__name BI аналитик
								.main-vacancies__city г. Жуковский
								<svg width="22" height="40" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3456 18.9023L2.84444 0.452333C2.23827 -0.151805 1.25687 -0.150789 0.651714 0.455458C0.0470289 1.06163 0.0485914 2.04358 0.654839 2.64818L18.0548 20.0001L0.654214 37.3519C0.0480443 37.9566 0.0464818 38.9379 0.651089 39.5441C0.954447 39.848 1.35187 40 1.74929 40C2.14569 40 2.54155 39.849 2.84436 39.5472L21.3456 21.0977C21.6376 20.8072 21.8014 20.4119 21.8014 20.0001C21.8014 19.5882 21.6371 19.1933 21.3456 18.9023Z" fill="#19191D"/></svg>

							a.main-vacancies__item(href="")
								.main-vacancies__name Программист SAP
								.main-vacancies__city г. Жуковский
								<svg width="22" height="40" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3456 18.9023L2.84444 0.452333C2.23827 -0.151805 1.25687 -0.150789 0.651714 0.455458C0.0470289 1.06163 0.0485914 2.04358 0.654839 2.64818L18.0548 20.0001L0.654214 37.3519C0.0480443 37.9566 0.0464818 38.9379 0.651089 39.5441C0.954447 39.848 1.35187 40 1.74929 40C2.14569 40 2.54155 39.849 2.84436 39.5472L21.3456 21.0977C21.6376 20.8072 21.8014 20.4119 21.8014 20.0001C21.8014 19.5882 21.6371 19.1933 21.3456 18.9023Z" fill="#19191D"/></svg>

						- }
						
				div
					.main-vacancies__count Найдено 20 вакансий
					.main-vacancies__slider.owl-carousel
						- for (var i = 0; i < 3; i++) {
						.main-vacancies__items
							a.main-vacancies__item(href="")
								.main-vacancies__name Программист 1С
								.main-vacancies__city г. Жуковский
								<svg width="22" height="40" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3456 18.9023L2.84444 0.452333C2.23827 -0.151805 1.25687 -0.150789 0.651714 0.455458C0.0470289 1.06163 0.0485914 2.04358 0.654839 2.64818L18.0548 20.0001L0.654214 37.3519C0.0480443 37.9566 0.0464818 38.9379 0.651089 39.5441C0.954447 39.848 1.35187 40 1.74929 40C2.14569 40 2.54155 39.849 2.84436 39.5472L21.3456 21.0977C21.6376 20.8072 21.8014 20.4119 21.8014 20.0001C21.8014 19.5882 21.6371 19.1933 21.3456 18.9023Z" fill="#19191D"/></svg>

							a.main-vacancies__item(href="")
								.main-vacancies__name Категорийный менеджер
								.main-vacancies__city г. Жуковский
								<svg width="22" height="40" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3456 18.9023L2.84444 0.452333C2.23827 -0.151805 1.25687 -0.150789 0.651714 0.455458C0.0470289 1.06163 0.0485914 2.04358 0.654839 2.64818L18.0548 20.0001L0.654214 37.3519C0.0480443 37.9566 0.0464818 38.9379 0.651089 39.5441C0.954447 39.848 1.35187 40 1.74929 40C2.14569 40 2.54155 39.849 2.84436 39.5472L21.3456 21.0977C21.6376 20.8072 21.8014 20.4119 21.8014 20.0001C21.8014 19.5882 21.6371 19.1933 21.3456 18.9023Z" fill="#19191D"/></svg>
						.main-vacancies__items
							a.main-vacancies__item(href="")
								.main-vacancies__name BI аналитик
								.main-vacancies__city г. Жуковский
								<svg width="22" height="40" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3456 18.9023L2.84444 0.452333C2.23827 -0.151805 1.25687 -0.150789 0.651714 0.455458C0.0470289 1.06163 0.0485914 2.04358 0.654839 2.64818L18.0548 20.0001L0.654214 37.3519C0.0480443 37.9566 0.0464818 38.9379 0.651089 39.5441C0.954447 39.848 1.35187 40 1.74929 40C2.14569 40 2.54155 39.849 2.84436 39.5472L21.3456 21.0977C21.6376 20.8072 21.8014 20.4119 21.8014 20.0001C21.8014 19.5882 21.6371 19.1933 21.3456 18.9023Z" fill="#19191D"/></svg>

							a.main-vacancies__item(href="")
								.main-vacancies__name Программист SAP
								.main-vacancies__city г. Жуковский
								<svg width="22" height="40" viewBox="0 0 22 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3456 18.9023L2.84444 0.452333C2.23827 -0.151805 1.25687 -0.150789 0.651714 0.455458C0.0470289 1.06163 0.0485914 2.04358 0.654839 2.64818L18.0548 20.0001L0.654214 37.3519C0.0480443 37.9566 0.0464818 38.9379 0.651089 39.5441C0.954447 39.848 1.35187 40 1.74929 40C2.14569 40 2.54155 39.849 2.84436 39.5472L21.3456 21.0977C21.6376 20.8072 21.8014 20.4119 21.8014 20.0001C21.8014 19.5882 21.6371 19.1933 21.3456 18.9023Z" fill="#19191D"/></svg>

						- }
				div
				div
				div
				div
				div


section.about
	.container
		h2.h2-title О компании
		.about__items.owl-carousel
			.about__item 
				.about__icon
					img(src="img/house_icon.svg" alt="")
				.about__name Близко
				.about__txt 
					p Мы поможем Вам подобрать самое удобное место работы в одном из магазинов сети.
			.about__item 
				.about__icon
					img(src="img/calendar_icon.svg" alt="")
				.about__name Стабильно
				.about__txt 
					p Мы предоставляем достойную заработную плату:
					ul
						li Оклад.
						li Ежемесячные премии.
			.about__item 
				.about__icon
					img(src="img/shield_icon.svg" alt="")
				.about__name Надёжно
				.about__txt 
					p Мы предоставляем: оформление по ТК РФ, оплату отпусков и больничных, компенсацию 50% на междугородние поездки.
			.about__item 
				.about__icon
					img(src="img/team_icon.svg" alt="")
				.about__name Дружно
				.about__txt 
					p Мы поощряем развитие сотрудников, инициативность и активное участие в жизни компании.
			.about__item 
				.about__icon
					img(src="img/tag_icon.svg" alt="")
				.about__name Приятно
				.about__txt 
					p Мы предоставляем скидки, дарим подарки на праздники, проводим конкурсы и награждаем победителей.
			.about__item 
				.about__icon
					img(src="img/growth_icon.svg" alt="")
				.about__name Перспективно
				.about__txt 
					p Мы обучаем, развиваем и продвигаем наших сотрудников.
section.company-numbers
	.container
		h2.h2-title О компании в цифрах
		.company-numbers__items
			.company-numbers__item
				.company-numbers__number >3000
				.company-numbers__txt сотрудников
			.company-numbers__item
				.company-numbers__number >70
				.company-numbers__txt городов
			.company-numbers__item
				.company-numbers__number >300
				.company-numbers__txt магазинов
			.company-numbers__item
				.company-numbers__number >120
					span тыс.
				.company-numbers__txt покупателей в день
			.company-numbers__item
				.company-numbers__number >200
				.company-numbers__txt приютов получили помощь от ДоброЛапа
section.about-block
	.container
		h2.h2-title «Четыре Лапы» – социально-ответственная компания
		p Мы сотрудничаем с благотворительными фондами и приютами, питомниками и зоозащитниками-волонтёрами, клубами кошек и собак. Участие в благотворительных проектах, мастер-классах и Уроках Доброты в зоомагазинах «Четыре Лапы» – это возможность для наших сотрудников и покупателей принимать участие в социально значимых проектах и получать актуальные знания.
		.about-block__items
			a.about-block__item(href="")
				span.about-block__name Мастер-классы
				img(src="img/cat-1.png" alt="")
			a.about-block__item(href="")
				span.about-block__name ДоброЛап
				img(src="img/shutterstock_17633080-1.png" alt="")
			a.about-block__item(href="")
				span.about-block__name Уроки Доброты
				img(src="img/shutterstock_226030945-2.png" alt="")
			a.about-block__item(href="")
				span.about-block__name Добрые руки
				img(src="img/shutterstock_723325573-1.png" alt="")
section.life
	.container
		h2.h2-title Наша жизнь
		p Каждый день мы работаем над тем, чтобы сделать мир лучше. Мы участвуем во множестве мероприятий круглогодично: ветеринарные конференции, фестивали и благотворительные акции.
		.life__photos.owl-carousel
			
			.life__photo.life__photo_1-1(style="background-image:url(img/photo-1.jpg)")
			.life__photo.life__photo_1-2(style="background-image:url(img/photo-2.jpg)")
			.life__photo.life__photo_2-1(style="background-image:url(img/photo-3.jpg)")
			.life__photo.life__photo_1-2(style="background-image:url(img/photo-4.jpg)")

			.life__photo.life__photo_1-1(style="background-image:url(img/photo-5.jpg)")
			.life__photo.life__photo_1-2(style="background-image:url(img/photo-6.jpg)")
			.life__photo.life__photo_1-1(style="background-image:url(img/photo-7.jpg)")

			.life__photo.life__photo_2-1(style="background-image:url(img/photo-8.jpg)")
			.life__photo.life__photo_1-1(style="background-image:url(img/photo-9.jpg)")
			.life__photo.life__photo_1-1(style="background-image:url(img/photo-10.jpg)")
			

section.one-day
	.container
		h2.h2-title Один день из жизни сотрудника
		.adaptive_video
			iframe(width="560" height="315" src="https://www.youtube.com/embed/FaSZzuqcvRg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
section.reviews
	.container
		.arrow-left
			<svg width="40" height="63" viewBox="0 0 40 63" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M32 63L-1.37691e-06 31.5L32 -1.39876e-06L40 7.875L16 31.5L40 55.125L32 63Z" fill="white" fill-opacity="0.45"/></svg>
		.reviews__slider.owl-carousel
			- for (var i = 0; i < 4; i++) {
			.reviews__slide
				.reviews__author
					.reviews__img
						img(src="img/olga.png" alt="")
					.reviews__desc
						.reviews__name Ольга Баняс
						.reviews__txt Управляющий группой магазинов. В компании с 2012 года
				.reviews__quote
					h4 «Главное – любить дело, которым занимаешься!»
					p Я пришла в компанию на должность «Управляющего магазином». У меня уже был богатый опыт работы в рознице, но я никогда не работала в сегменте «зоотовары». Компания активно развивалась, я стажировала управляющих для новых магазинов. И вот, с октября 2014 года я занимаю позицию «Управляющего группой магазинов». Мне нравится моя работа тем, что это, прежде всего, активность, постоянное движение, наша компания динамично развивается, многие процессы автоматизируются, но со мной всегда любовь к моему делу. Это мой главный успех!
			- }
		.arrow-right
			<svg width="40" height="63" viewBox="0 0 40 63" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 63L40 31.5L8 -1.39876e-06L-1.40511e-06 7.875L24 31.5L-3.47047e-06 55.125L8 63Z" fill="white" fill-opacity="0.45"/></svg>
section.news
	.container
		h2.h2-title Новости	
		.news__items
			.news__item
				.news__img(style="background-image:url(img/job-fair-58-1.jpg)")
				.news__desc
					.news__date 15.04.2021
					.news__name День карьеры
					.news__txt 
						p Друзья! Что такое День карьеры? Это мероприятие для студентов и выпускников ВУЗов, чтобы помочь определиться с выбором работодателя или стажировкой. Совсем недавно «День карьеры» прошел.. Тимирязевской академии.
						p Друзья! Что такое День карьеры? Это мероприятие для студентов и выпускников ВУЗов, чтобы помочь определиться с выбором работодателя или стажировкой. Совсем недавно «День карьеры» прошел.. Тимирязевской академии.
					.news__more 
			.news__item
				.news__img(style="background-image:url(img/job-fair-58-2.png)")
				.news__desc
					.news__date 20.05.2021
					.news__name Ветеринарные врачи и грумеры – найдитесь!
					.news__txt 
						p Друзья! В этом году в нашей сети появилось новое направление – кабинеты здоровья, в которых питомцы могут получить первичную медицинскую помощь, а их владельцы – консультацию по питанию и уходу. 
						p Друзья! В этом году в нашей сети появилось новое направление – кабинеты здоровья, в которых питомцы могут получить первичную медицинскую помощь, а их владельцы – консультацию по питанию и уходу. 
					.news__more
			.news__item
				.news__img(style="background-image:url(img/job-fair-58-3.png)")
				.news__desc
					.news__date 02.06.2021
					.news__name Четыре Лапы в рейтинге HH.RU
					.news__txt 
						p Друзья! Второй год подряд мы участвуем в рейтинге работодателей на одном из самых популярных порталов по поиску работы HH.RU. Мы решились на этот шаг, поскольку уверены, что наша компания – это одно из лучших мест для работы, реализации своего потенциала, роста и развития как в профессиональном, так и в карьерном плане!
						p Нас уже более трех с половиной тысяч человек и мы постоянно увеличиваем свою команду. Рейтинг поможет кандидатам при выборе нашей компании и даст каждому из нас возможность гордиться тем, что мы являемся частью крутой команды!
					.news__more
		a.button.button_orange.button_news(href="") Показать еще