section.text-page
	.container
		h1 Политика обработки персональных данных
		p.p-grey г.Жуковский «23» февраля 2017 года
		h2 1. Общие положения
		p 1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Интернет-магазина «Четыре Лапы», расположенному по адресу https://4lapy.ru/.

		p 1.2. Сайт Интернет-магазина «Четыре Лапы» (далее – Сайт) является собственностью ООО «ЧЕТЫРЕ ЛАПЫ-ИМ».

		p 1.3. Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет- магазина «Четыре Лапы» (далее – Администрация сайта) и Пользователем данного Сайта.

		p 1.4. Условия настоящего Пользовательского соглашения рассматриваются Администрацией Сайта как публичная оферта в соответствии со ст. 436 Гражданского кодекса Российской Федерации, Пользовательское соглашение вступает в силу с момента выражения Вами согласия с его условиями путем регистрации.

		p 1.5. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.

		p 1.6. Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.

		p 1.7. Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.

		p 1.8. Пользователь, сообщая «Четыре Лапы» свой e-mail и/или номер телефона, дает согласие на использование указанных средств связи «Четыре Лапы», а также третьими лицами, привлекаемыми им для целей выполнения обязательств перед Пользователями, в целях осуществления рассылок рекламного и информационного характера, содержащих информацию о скидках, предстоящих и действующих акциях и других мероприятиях «Четыре Лапы», о передаче заказа в доставку, а также иную информацию, непосредственно связанную с выполнением обязательств Пользователем в рамках настоящего Соглашения.

		p 1.9. Действующая редакция Соглашения размещается на странице по адресу https://4lapy.ru/.

		h2 2. Определения терминов
		p 2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:

		p 2.1.1 «Четыре Лапы» – Интернет-магазин, расположенный на доменном имени www. https://4lapy.ru/, осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов.

		p 2.1.2. Интернет-магазин – сайт, содержащий информацию о Товарах, Продавце, позволяющий осуществить выбор, заказ и (или) приобретение Товара. 2.1.3. Администрация сайта Интернет-магазина – уполномоченные сотрудники на управления Сайтом, действующие от имени ООО «ЧЕТЫРЕ ЛАПЫ-ИМ».

		p 2.1.4. Пользователь сайта Интернет-магазина (далее - Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.

		p 2.1.5. Содержание сайта Интернет-магазина (далее – Содержание) - охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте Интернет-магазина.
		h2 3. ПРЕДМЕТ СОГЛАШЕНИЯ
		p 3.1. Предметом настоящего Соглашения является предоставление Пользователю Интернет- магазина доступа к содержащимся на Сайте Товарам и оказываемым услугам.

		p 3.1.1. Интернет-магазин предоставляет Пользователю следующие виды услуг (сервисов):

		p доступ к электронному контенту с правом просмотра контента;<br>доступ к средствам поиска и навигации Интернет-магазина;<br>предоставление Пользователю возможности размещения сообщений, комментариев, рецензий Пользователей, выставления оценок контенту Интернет-магазина;<br>доступ к информации о Товаре и к информации о приобретении Товара, правилах покупки Товара, способах и видах доставки Товара ;<br>иные виды услуг (сервисов), реализуемых в Интернет-магазине.
		p 3.1.2. Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Интернет-магазина, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Интернет-магазина.

		p 3.2. Доступ к Интернет-магазину предоставляется на безвозмездной основе.

		p 3.3. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
