section.slider.owl-carousel
	.slider__slide(style="background-image:url(img/shutterstock_1806679306-team21.jpg)")
		.container
			.slider__desc
				.slider__name Как стать частью команды «Четыре Лапы»
				//- .slider__text Запишись на собеседование и получи интересную работу рядом с домом.
				//- a.button(href="") Записаться
section.leave-order
	.container
		form.form.form_contact(action="") 
			.form__thanks
				h2.h2-title Спасибо за отклик!
				img(src="img/thanks.svg" alt="")
				span Мы обязательно рассмотрим заявку и перезвоним в ближайшее время.
			.form_inner 
				h2.h2-title Оставь заявку и стань частью нашей команды
				.form__columns.form__columns_three
					.form__input-block
						input(type="text" placeholder="*Ваше ФИО")
					.form__input-block
						input(type="tel" placeholder="*Ваш номер телефона")
					.form__input-block
						input(type="email" placeholder="Ваш e-mail")
				.form__file-block
					label Прикрепитe резюме в формате .doc, .docx, .pdf (не более 5 Mb)
					input(type="file")
					.form__file-inner
						.form__file-text
							img(src="img/file.svg" alt="")
							span Выберите файл 
							| или перетащите его сюда
				label.form__checkbox
						input.checkbox(type="checkbox" name="agree")
						span.checkbox-custom
						span.label Я даю 
							a(href="") согласие
							|  на обработку персональных данных
				input.button.button_orange(type="submit" value="Оставить заявку")
section.call-us
	.container
		h2.h2-title Позвони по телефону +7 (499) 954-86-56
		.call-us__items
			.call-us__item
				.call-us__inner
					.call-us__img 
						img(src="img/girl1.png" alt="")
					.call-us__name Мария
			.call-us__item
				.call-us__inner
					.call-us__img 
						img(src="img/girl2.png" alt="")
					.call-us__name Дарья
			.call-us__item
				.call-us__inner
					.call-us__img 
						img(src="img/girl3.png" alt="")
					.call-us__name Юлия
			.call-us__item
				.call-us__inner
					.call-us__img 
						img(src="img/girl4.png" alt="")
					.call-us__name Алина
			.call-us__item
				.call-us__inner
					.call-us__img 
						img(src="img/girl5.png" alt="")
					.call-us__name Алёна
			.call-us__item
				.call-us__inner
					.call-us__img 
						img(src="img/girl6.png" alt="")
					.call-us__name Евгения
			.call-us__item
				.call-us__inner
					.call-us__img 
						img(src="img/girl7.png" alt="")
					.call-us__name Мария
			.call-us__item
				.call-us__inner
					.call-us__img 
						img(src="img/girl8.png" alt="")
					.call-us__name Анастасия
section.about-block
	.container
		h2.h2-title Отправь резюме по электронной почте rabota@4lapy.ru
		p Команда наших профессионалов ежедневно получает и обрабатывает сотни заявок. <br>Благодаря слаженной работе наших менеджеров по персоналу ни одна заявка не остаётся без внимания. <br>Вы можете связаться с нами любым из нижеперечисленных способов:
		ul
			li Телефонный звонок.
			li Сообщение через чат-бот.
			li WhatsApp.
			li Электронное письмо.
			li Отклик на сайте по поиску работы. 
			li Анкета в любом из магазинов сети «Четыре Лапы».
		p Мы будем рады пообщаться с Вами любым удобным для Вас способом.<br>Желаем удачи в поиске работы!
section.hh-sites
	.container 
		h2.h2-title Будь в курсе свежих вакансий
		.hh-sites__items
			a.hh-sites__item(href="")
				img(src="img/hh_logo.png" alt="")
			a.hh-sites__item(href="")
				img(src="img/facebook_logo.png" alt="")