section.section-404
	.container
		h2.section-404__name 404
		.section-404__desc Страница не найдена
		.section-404__txt 
			p Возможно, она была перемещена или удалена.<br>Вы можете вернуться на 
				a(href="") главную 
				| страницу.
