section.career
	.container
		h1 Направления
		.tabs
			ul
				li Магазины
				li Ветеринарные центры
				li Распределительный центр
				li Курьерская доставка
				li Груминг-салоны
				li Офис
				li Кабинеты здоровья
			div 
				div
					.career__count Найдено 8 вакансий
					.career__inner
						aside.career__aside
							.career__title Вакансии
							ul
								li 
									a(href="" data-link="1-1").active Продавец-консультант
								li 
									a(href="" data-link="1-2") Менеджер торгового зала
								li 
									a(href="" data-link="1-3") Управляющий магазином (г. Мытищи)
						article.career__vacancy
							.career__item.active(data-number="1-1")
								h2.h2-title.h2-title_career Продавец-консультант
								h3.h3-title Что мы предлагаем:
								ul
									li Активный карьерный рост: мы поддерживаем сотрудников, которые хотят реализовать свой потенциал в нашей сети;
									li Насыщенную корпоративную жизнь: конкурсы, бонусные карты, подарки, путешествия;
									li Позитивную рабочую атмосферу в команде единомышленников;
									li Официальное оформление в штат компании;
									li Сменный график работы (12-ти часовой рабочий день, в среднем 15-16 смен в месяц, график планируется заранее);
									li Стабильную заработную плату: оклад + ежемесячные премии (выплаты без задержек, 2 раза в месяц на банковскую карту);
									li Бесплатное непрерывное обучение по кормам, вет. препаратам и техникам продаж у лучших наставников и экспертов сети.
								h3.h3-title Чем предстоит заниматься:
								ul
									li Консультирование покупателей;
									li Кормление и уход за животными;
									li Работа с кассовым аппаратом (обучаем);
									li Выкладка товара, поддержание фирменного стиля зоомагазина.
								h3.h3-title Что для этого необходимо:
								ul 
									li Коммуникабельность, доброжелательность, грамотная речь;
									li Готовность к обучению и развитию профессиональных навыков;
									li Главное: любовь к животным и желание развиваться в области зооиндустрии.
								a(href="").button.button_orange Откликнуться
							.career__item(data-number="1-2")
								h2.h2-title.h2-title_career Менеджер торгового зала
								a(href="").button.button_orange Откликнуться
								
							.career__item(data-number="1-3")
								h2.h2-title.h2-title_career Управляющий магазином (г. Мытищи)
								a(href="").button.button_orange Откликнуться
						   
						
				div
				div
				div
				div
				div
					.career__count Найдено 6 вакансий
					.career__inner
						aside.career__aside
							.career__title Вакансии
							ul
								li 
									a(href="" data-link="6-1").active Программист 1С
								li 
									a(href="" data-link="6-2") BI аналитик
								li 
									a(href="" data-link="6-3") Категорийный менеджер
								li 
									a(href="" data-link="6-4") Программист SAP
								li 
									a(href="" data-link="6-5") Ревизор
								li 
									a(href="" data-link="6-6") Менеджер подбора персонала
								li 
									a(href="" data-link="6-7") Аналитик
						article.career__vacancy
							.career__item.active(data-number="6-1")
								h2.h2-title.h2-title_career Программист 1С
								a(href="").button.button_orange Откликнуться

							.career__item(data-number="6-2")
								h2.h2-title.h2-title_career BI аналитик
								h3.h3-title Обязанности:
								ul
									li Доработки в конфигурациях на платформе 1С 8.3
									li Реализация бизнес-процессов компании в конфигурациях 1С (создание новых   объектов и механизмов (алгоритмы, новые документы, отчеты и пр);
									li Участие в составлении ТЗ на автоматизацию бизнес-процессов расчета заработной  платы и мотивации, а также казначейства, бюджетирования, управленческого учета;
									li Участие в составлении пользовательской документации.
									li Консультирование пользователей по вопросам расчета заработной платы и мотивации, по вопросам формирования управленческой отчетности. 
								h3.h3-title Требования:
								ul
									li Приветствуется опыт по переходу с ЗУП 2.5 на ЗУП 3;
									li Знание интеграционных механизмов 1С: конвертация данных и планы обмена, web-сервисы, http-сервисы, OLE, xml, XDTO, OData и т.д;
									li Хороший опыт программирования на базе платформы 1С 8.3 (Зарплата и управление персоналом, Бухгалтерия);
									li Уверенные знания предметных областей кадрового учета и расчета заработной платы, основ бухгалтерского учёта;
									li Знание типовых конфигураций 1С (Бухгалтерия, ЗУП);
									li Дополнительным преимуществом будет знание 1С Бит Финанс или других решений по автоматизации казначейства, бюджетирования и управленческого учета.
								h3.h3-title Условия:
								ul 
									li График работы: 5/2 (с 09.00/10.00 до 18.00/19.00), удаленно;
									li Официальное оформление, зарплатный проект, корпоративные скидки. Уровень заработной платы обсуждается в зависимости от опыта кандидата;
									li Удаленная работа, встри с командой в офисе два раза в месяц (г. Жуковский).
								a(href="").button.button_orange Откликнуться
							.career__item(data-number="6-3")
								h2.h2-title.h2-title_career Категорийный менеджер
								a(href="").button.button_orange Откликнуться
							.career__item(data-number="6-4")
								h2.h2-title.h2-title_career Программист SAP
								a(href="").button.button_orange Откликнуться
							.career__item(data-number="6-5")
								h2.h2-title.h2-title_career Ревизор
								a(href="").button.button_orange Откликнуться
							.career__item(data-number="6-6")
								h2.h2-title.h2-title_career Менеджер подбора персонала
								a(href="").button.button_orange Откликнуться
							.career__item(data-number="6-7")
								h2.h2-title.h2-title_career Аналитик
								a(href="").button.button_orange Откликнуться
				div
